-# app/views/users/new.html.erb
= form_for :user, url: '/signup' do |f|
  %h1= t('signup')
  
  - if flash[:alert]
    .alert.alert-danger{:role => "alert"}= t(flash[:alert])
    
  .form-group
    = f.text_field :name, 
      placeholder: t('name'), 
      pattern: "[a-z0-9_]+$", 
      required: "required"
    
  .form-group
    = f.text_field :email, 
      placeholder: 'Email', 
      pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", 
      required: "required"
    
  .form-group
    = f.password_field :password, 
      placeholder: t('password'), 
      required: "required"
    
  .form-group
    = f.password_field :password_confirmation, 
      placeholder: t('password confirmation'), 
      required: "required", 
      'data-message': t('password_dont_match'),
      oninput: "check(this)"
    
    
  = f.submit t('sign up'), 
    class: 'btn btn-info'
