-# app/views/post/new.html.erb
= form_for :post, url: '/posts' do |f|
  %h1= t(:'add new post')
  
  .form-group
    = f.label t('title')+':', for: "title"
    = f.text_field :title, placeholder: t('title')
    
  .form-group
    = f.label t('content')+':', for: "main_body"
    = f.text_area :content, class: "form-control",  rows: "5", id: "main_body"
    
  .form-group
    = f.label t('tags')+':', for: "tags"
    = f.text_field :tags, placeholder: t('tags')
    
  = f.submit t('create'), class: 'btn btn-info'
