-# app/views/sessions/new.html.erb
= form_tag '/login' do
  %h1= t(:'login')
  
  .form-group
    - if flash[:alert]
      .alert.alert-danger{:role => "alert"}= t(flash[:alert])
      
  .form-group
    = text_field_tag :email, 
      flash[:email], 
      placeholder: 'Email', 
      pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", 
      required: "required"
    
  .form-group
    = password_field_tag :password, 
      nil, 
      placeholder: t('password'), 
      required: "required"
    
  = submit_tag t(:'log in'), 
    class: 'btn btn-info'
